/* Untuk Tablet */
@media only screen and (min-width: 1200px){
  .social-media-icon img{
    width: 24px;
    margin-right: 2rem;
  }
}

@media all and (max-width: 1000px) {
    .lesson {
      width: 50%;
      margin-bottom: 50px;
    }
    
    .top-wrapper h1 {
      font-size: 32px;
    }
    
    .heading h2 {
      font-size: 20px;
    }

    .social-media-icon img{
      width: 24px;
      margin-right: 2rem;
    }
  }
  

  

  /* Untuk Smartphone */
  @media all and (max-width: 670px) {

    .lesson {
      width: 100%;
    }
    
    footer {
      text-align: center;
    }
    
    .btn {
      width: 100%;
    }
    
    .facebook {
      margin-bottom: 10px;
    }
    
    .top-wrapper {
      text-align: left;
    }
    
    /* Tambahkan CSS untuk header-right */
    .header-right{
      display: none;
    }
    
    /* Tambahkan CSS untuk menu-icon */
    .menu-icon{
      display: block;
    }
    
    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
    }
    
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
    }

    .footer-info{
      text-align: left;
    }

    .footer-info ul{
      list-style: none;
      padding: 0;
      color: #fff;
    }

    .footer-info a{
      color: #fff;
    }

    .social-media-icon img{
      width: 24px;
      margin-right: 2rem;
    }

    .copyright {
      margin-top: 2rem;
      margin: 0 auto;
    }

    .copyright a{
      margin: 0 auto;
      color: #fff;
    }
  }

  